.error-signup{
    display: none;

    color: red;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



/* .todo-list-main{

} */

/* .todo-list-up{
    background-color: antiquewhite;
} */











#todo-list{
    list-style: none;
}

li input:disabled{
    border: none;
    background-color:transparent;

}